.nav {
    text-align: center;
    width: 1000px;
    height: 60px;
    background: #BC2332;
    margin: 0 auto;
}

.nav a {
    font-size: 18px;
    font-family: "微软雅黑";
    font-weight: bold;
	color: #000000;
}

.nav ul {
    text-align: center;
    background: #E7E7E7;
}

.nav li {
    width: 120px;
    float: left;
    display: block;
    height: 60px;
    line-height: 60px;
    padding: 0 20px;
    position: relative;
}

.nav ul li ul li {
    line-height: 40px;
    height: 40px;
    width: 80px;
    float: right;
}

.nav ul li ul {
    position: absolute;
    top: 60px;
    left: 30px;
    display: none;
    /*设置不占行*/
}

.nav ul li ul li:hover {
    background: #E0D4B0;
    /*链接点击颜色*/
}

.nav ul li:hover ul {
    display: block;
}