/* CSS Document */
#tou{
	border:1px solid #333;
	width:1000px;/*顶图大小*/
	margin:5px auto 5px auto;}
ul,li,img{ padding: 0; margin: 0; list-style: none; border: 0;}	
body{
	font-size: 18px;
	line-height: 30px;
	}
/*banner样式*/
.banner{
	overflow:hidden;
	width: 1000px;
	height: 300px;
	background-image: url(../img/index1/ctjy/cx/cxtop.jpg);
	}
.wenzii{
	margin-top: 50px;
	margin-left: 150px;
	width: 400px;
	}
.wenzii a{
	font-size: 35px;
	font-family: "微软雅黑";
	font-weight: bold;
	color: #FFFFFF;
	}
.wenzii2 a{
	font-size: 12px;
	font-family: "宋体";
	width: 400px;
	line-height: 1em;
	}
.wenzii3{
	margin-top: 5px;
	}
.wenzii3 a{
	font-size: 22px;
	color: #FF0004;
	font-family: "宋体";
	text-decoration: none;
	}
.wenzii3 a:hover{
	text-decoration: none;
	color: #EA8129;
	}
/*导航栏的样式*/
nav ul{
	margin-top: -10px;
	height:80px;/*导航栏高度*/
	padding-left:80px;
	overflow:hidden;
	background:#BC2332;}
nav ul li{
	float:left;
	line-height:50px;/*导航栏文字高度*/
	padding:0 30px;
	margin-top: 15px;
}
nav a{
	font-size:20px;
	font-family:"微软雅黑";
	font-weight:bold;
	text-decoration:none;
	color:#000000;}
nav a:hover{
	text-decoration: none;
	color:#FFf;
	background-color:#999;
	margin:10px }/*导航浮动*/
<!--主体部分-->
.pagebody{
	width: 1000px;
	background: #C6B7B8;}
<!--壁画专题-->
.pg1{
	width: 1000px;
	height: 400px;
	}
.pg1top{
	width: 1000px;
	height: 400px;
	overflow: hidden;
	background-image:  url(../img/index1/ctjy/cx/cxbj.jpg);
	/*border: 1px solid #2AE028;*//*壁画专题的边框*/
	}
.pg1top1{
	float: left;
	margin-left: 20px;
	/*border: 1px solid #FF0307;*/
	width: 150px;
	height: 250px;
	margin-top: 110px;
	margin-left: 160px;
	background-image: url(../img/index1/ctjy/cx/cx1.jpg);
	}
.pg1top2{
	float: left;
	margin-left: 20px;
/*	border: 1px solid #FF0307;*/
	width: 150px;
	height: 250px;
	margin-top: 110px;
	margin-left: 25px;
	background-image: url(../img/index1/ctjy/cx/cx2.jpg);
	}
.pg1top3{
	float: left;
	margin-left: 20px;
/*	border: 1px solid #FF0307;*/
	width: 150px;
	height: 250px;
	margin-top: 110px;
	margin-left: 25px;
	background-image: url(../img/index1/ctjy/cx/cx3.jpg);
	}
.pg1top4{
	float: left;
	margin-left: 30px;
/*	border: 1px solid #FF0307;*/
	width: 150px;
	height: 250px;
	margin-top: 110px;
	margin-left: 25px;
	background-image: url(../img/index1/ctjy/cx/cx4.jpg);
	}
/*文献*/
.pg2{
	width: 1000px;
	height: 400px;
	overflow: hidden;
	/*border: 1px solid #2AE028;*//*文献的边框*/
	background-image: url(../img/index1/ctjy/cx/cxbj0_5.jpg);
	}
.pg2top{
	width: 1000px;
	height: 400px;
	overflow: hidden;
	background-image: url(../img/index1/ctjy/cx/cxbj0.jpg);
	}
.pg2top2{
	width: 1000px;
	height: 400px;
	margin-left: 150px;
	margin-top: 120px;
	}
.pg2top2 a{
	font-size:16px;
	font-family:"宋体";
	font-weight:bold;
	text-decoration:none;
	color:#FFFFFF;
	}
.pg2top2 a:hover{
	text-decoration: none;
	color:#FF0004;
	}
<!--共创作品-->

.pg3{
	width: 1000px;
	height: 400px;
	}
.pg3top{
	width: 1000px;
	height: 400px;
	overflow: hidden;
	background-image: url(../img/index1/ctjy/cx/cxbj0.jpg);
	}
/*九色鹿*/
.pg3top1{
	float: left;
	margin-left: 20px;
/*	border: 1px solid #FF0307;*/
	width: 250px;
	height: 300px;
	margin-top: 90px;
	margin-left: 70px;
	background: #FFFFFF;
	}
.pg3tupian1{
	width: 200px;
	height: 180px;
	background-image: url(../img/index1/ctjy/tc/tc001.jpg);
	margin-left: 25px;
	}
.pg3wenzi1 a{
	font-weight: bold;/*苏绣*/
	font-size: 20px;
	color: #000000;
	margin-left: 25px;
	text-decoration: none;
	}
.pg3wenzi1 a:hover{
	text-decoration: none;
	color:#FF0004;
	}
.pg3wenzi2 a{
	font-size: 12px;
	font-family: "宋体";/*介绍*/
	color: #000000;
	margin-left: 25px;
	text-decoration: none;
	line-height: 1em;
	}
/*共创作品1*/

/*天乐遐想*/	
.pg3top2{
	float: left;
/*	border: 1px solid #FF0307;*/
	width: 250px;
	height: 300px;
	margin-top: 90px;
	margin-left: 50px;
	background: #FFFFFF;
	}
.pg3tupian2{
	width: 200px;
	height: 180px;
	background-image: url(../img/index1/ctjy/tc/tc002.jpg);
	margin-left: 25px;
	}
.pg3wenzi3 a{
	font-weight: bold;/**/
	font-size: 20px;
	color: #000000;
	margin-left: 25px;
	text-decoration: none;
	}
.pg3wenzi3 a:hover{
	text-decoration: none;
	color:#FF0004;
	}
.pg3wenzi4 a{
	font-size: 12px;
	font-family: "宋体";/*天乐遐想介绍*/
	color: #000000;
	margin-left: 25px;
	text-decoration: none;
	line-height: 1em;
	}
	
/*千年乐舞*/
.pg3top3{
	float: left;
	margin-left: 20px;
/*	border: 1px solid #DD0307;*/
	width: 250px;
	height: 300px;
	margin-top: 90px;
	margin-left: 50px;
	background: #fff;
	}
.pg3tupian3{
	width: 200px;
	height: 180px;
	background-image: url(../img/index1/ctjy/tc/tc003.jpg);
	margin-left: 25px;
	}
.pg3wenzi5 a{
	font-weight: bold;/*千年乐舞*/
	font-size: 20px;
	color: #000000;
	margin-left: 25px;
	text-decoration: none;
	}
.pg3wenzi5 a:hover{
	text-decoration: none;
	color: #FF0004;
	}
.pg3wenzi6 a{
	font-size: 12px;
	font-family: "宋体";/*千年乐舞介绍*/
	color: #000;
	margin-left: 25px;
	text-decoration: none;
		line-height: 1em;
	}

